body {
    background-color: rgb(70, 70, 70);
    font-family: "Courier New", Courier, monospace;
}

.center {
    width: 32%;
    height: 20%;
    position: absolute;
    top: -30%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

h1 {
    text-align: center;
    color: greenyellow;
}

p {
    text-align: center;
    color: greenyellow;
}

#res {
    background-color: lightgray;
    border: solid;
    height: 48px;
    font-size: 20px;
    text-align: center;
    line-height: 40px;
    height: 40px;
}

#btn0,
#btn1 {
    background-color: lightgreen;
    color: brown;
}

#btnClr,
#btnEql {
    background-color: darkgreen;
    color: white;
}

#btnSum,
#btnSub,
#btnMul,
#btnDiv {
    background-color: black;
    color: red;
}

button {
    width: 25%;
    height: 36px;
    font-size: 18px;
    margin: 0px;
    float: left;
    border: 2px solid rgb(70, 70, 70);
}
